.account{
	padding: 40px 0;
}
.account > div > div.col-md-10 > div > div:nth-child(1) > h1{
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-weight: bold;
}
.account hr, form hr{
	border-color: rgba(0,0,0,0.4);
	margin: 10px 0;
}
.account ul.menu{
	margin: 0;
	padding: 0;
}
.account ul.menu li{
	list-style: none;
	margin: 0;
}
.account ul.menu li a{
	display: block;
	border:2px solid #8c8c8c;
	text-transform: uppercase;
	background: #bde4f9;
	color: #000000;
	transition:all 0.5s ease;
	padding: 5px 20px;
}
.account ul.menu li a:hover,
.account ul.menu li.active a{
	background: #0d375a;
	color: #FFFFFF;
	text-decoration: none;
	transition:all 0.5s ease;
}
.account ul.menu li.active a:hover{
	cursor: default;
}
body > div.container.account > div > div.col-md-10{
	padding: 0 0 0 20px;
}
.h2-header{
	width: 100%;
	background: #0d375a;
	padding: 10px;
}
.h2-header h2, .h2-header a{
	color: #FFFFFF;
	margin: 0;
	font-size: 16px;
	padding: 0;
}
.h2-header{
 	margin: 0;
}
.h2-header a{
	text-transform: uppercase;
}
table tr td.price{
	font-weight: bold;
}
table{
	border-bottom:2px solid rgba(0,0,0,0.4);
	background: rgba(255,255,255,0.9);
}
.table > tbody > tr > th{
	border:1px solid rgba(0,0,0,0.4); 
}
.table-order > tbody > tr > td{
	border:1px solid rgba(0,0,0,0.4); 
}
.table-order > tbody > tr:last-child, .table-order > tbody > tr:last-child td{
	border-bottom: 0;
}
.table-order > tbody > tr > th{
	border-top: 0;
}
.table-order > tbody > tr > td:nth-child(1), .table-order > tbody > tr > th:nth-child(1){
	border-left: 0;
}
.table-order > tbody > tr > td:nth-child(6), .table-order > tbody > tr > th:nth-child(6){
	border-right: 0;
}
.table-order{
	margin-top: 20px;
	border:0;
}
.table-order td,
.table-order th{
	text-align: center;
}
.table-order td:nth-child(1),
.table-order th:nth-child(1){
	text-align: left;
}
.table-order > tbody > tr > td img{
	max-width: 18px;
}
.product{
	padding: 20px 10px;
}
.product > div > div{
	min-height: 180px;
}
.product img{
	max-width: 80px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
}
.product p{
	padding: 0;
	margin:0;
}
.product a:nth-child(5){
	float: left;
	text-transform: uppercase;
	margin: 30px 0 20px 0;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 50px;
}
form:not(.form-search){
	background: rgba(255,255,255,0.8);
}
form.row{
}
.btn-salvar, .btn-salvar:hover{
	text-transform: uppercase;
	margin: 30px 0 20px 0;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 50px;
}
.btn-salvar:hover{
	text-decoration: underline;
}
.order-detail{
	background: rgba(255,255,255,0.8)
}
.order-detail, .order-detail > thead > tr > th, .order-detail > tbody > tr > th, .order-detail > tfoot > tr > th, .order-detail > thead > tr > td, .order-detail > tbody > tr > td, .order-detail > tfoot > tr > td{
	border:0;
}
.back{
	color: #000;
}
.order-detail .product > div > div{
	min-height: 100px;
}
