.cart h1{
	font-size: 26px;
}
.cart h2{
	font-size: 20px;
}
.cart hr{
	border:1px solid rgba(0,0,0,0.3);
	margin: 10px 0 10px 0;
}
hr.space{
	padding: 30px 0;
	border: 0;
}
.input-tncrementers{
	margin-top: 14px;
}
.cart .row .product{
	padding-bottom: 20px;
}
.cart .row .product img{
	max-width: 80px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
}
.cart .row .product p{
	padding: 0;
	margin:0;
}
.cart .continue-shopping a, .cart .update-values a{
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 50px;
}
.cart .continue-shopping a{
	float: left;
}
.cart .update-values a{
	float: right;
}

.cart .frete h2{
	padding: 5px 0;
	margin: 0;
}
.cart .frete label{
	font-weight: 400;
}
.cart .frete button, .cart .cupom button{
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 30px;
}
.cart .frete button:hover, .cart .cupom button:hover{
	background: #0d375a;
}
.cart .frete .forma-envio span{
	font-weight: 600;
}
.cart .cupom p.help-block{
	padding-left: 245px;
	display: block;
}
.cart .total:first-child{
	padding: 20px 40px;
	background:#bde4f9;
	border: 2px solid #CCC;
}
.cart .total .total{
	padding: 10px 0;
	font-size: 20px;
	font-weight: 700;
}
.cart > div.col-md-4 > a.finish{
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 22px;
	text-transform: uppercase;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 30px;
}
.cart > div.col-md-4 > a.continue{
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0 40px 0;
	font-size: 12px;
	text-transform: uppercase;
	background: #bde4f9;
	color: #000;
	border:2px solid #CCC;
	padding: 3px 30px;
}

