.rev_slider ul li, .rev_slider ul li img{
	border-radius: 50px;
}

.prod1-container{
	padding: 20px 0;
}

.prod1-container .row div img{
	border-radius: 20px;
}
.prod-slider h2, .new-released h2{
	font-weight: 400;
	font-size: 24px;
	padding: 0;
	margin:0;
}
.prod-slider hr, .new-released hr{
	border:1px solid rgba(0,0,0,0.4);
	margin: 10px 0;
}
.prod-slider .rev_slider_wrapper{
	padding: 20px 0;
}
.prod-slider img.prod2, #prod-slider ul li, #prod-slider-2 ul li{
	border-radius: 20px;
}
.prod-slider a h3,
.prod-slider a h4,
.prod-slider h5{
	color: rgba(0,0,0,1);
	margin: 0;
	padding: 0;
}
.prod-slider a h3{
	margin-top: 10px;
	font-size: 16px;
}
.prod-slider a h4{
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
}
.prod-slider h5{
	font-size: 12px;
}
.deals{
	margin-top: 40px;
}

.new-released .row div{
	padding: 10px 15px;
}
.new-released img{
	border-radius: 20px;
}
.new-released a h3,
.new-released a h4,
.new-released h5{
	color: rgba(0,0,0,1);
	margin: 0;
	padding: 0;
}
.new-released a h3{
	margin-top: 10px;
	font-size: 16px;
}
.new-released a h4{
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
}
.new-released h5{
	font-size: 12px;
}
.destaques div a h3, .destaques div a h4{
	color: #000;
}
.destaques div a h4{
	text-transform: uppercase;
}