.login{
	padding: 40px 0;
}
.login form{
	background: #bde4f9;
	padding: 20px 40px;
	max-width: 90%;
	margin: 0 auto;
	border: 2px solid #CCC;
}
.login h2{
	text-transform: uppercase;
	font-weight: 600;
	margin: 0 0 20px 0;
}
.login form a{
	color: #000;
}
.login button{
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 22px;
	text-transform: uppercase;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 30px;
}
.login button:hover,
.login button:active:focus{
	background: #0d375a;
	color: #FFF;
}
.login form ul{
	padding: 18px 14px;
}