

/* ==========================================================================
   7 luas styles
   ========================================================================== */
body{
	font-family: 'Roboto', sans-serif;
}

/* ==========================================================================
   Header Menu
   ========================================================================== */
.nav-7-luas{
	background: url('../img/bg-header.jpg') center center;
	color: rgba(255,255,255,1);
	padding: 40px 0 35px 0;
}
.nav-7-luas ul, .nav-7-luas ul li{
	transition: 0.5s ease;
}
.nav-7-luas ul:hover li {opacity: 0.5; transition: all 0.5s ease;}
.nav-7-luas ul li:hover{opacity: 1; transition: all 0.5s ease;}
.first-menu{
	padding-bottom: 20px;
}
body{
	background: url('../img/stars.png') repeat center;
}

.first-menu ul.access, .first-menu ul.buttons{
	padding: 0;
	list-style: none;
	text-align: right;
}
.first-menu ul.access li, .first-menu ul.buttons li{
	display: inline-block;
}

.first-menu ul.buttons li img{
	max-width: 43px;
}
.first-menu ul.buttons li a:hover{
	text-decoration: none;
}
.form-search{
	text-align: right;
	padding-top: 25px;
}
.form-search button{
	background: rgba(153,153,153,1);
	border: 0;
	transition:all 0.5s ease;
	margin-left: -3px;
}
.form-search button:hover{
	background: rgba(197,17,98,1);
	transition:all 0.5s ease;
}
.form-search button img{
	max-width: 21px;
	padding: 1px 0;
}
.navbar-header a.home img{
	max-width: 29px;
	vertical-align: -webkit-baseline-middle;
}
.offers li a{
	font-size: 24px;
	font-weight: 600 !important;
}

@media(max-width:767px){
	.nav-7-luas{
		background: url('../img/bg-header.jpg') -50px center;
	}
	.nav-7-luas .nav > li > a{
		padding: 10px 8px;
	}
	.nav-7-luas .nav-cat:first-child{
		margin-left: 10px;
	}
	.first-menu .brand img{
		max-width: 120px;
	}
	.first-menu .slogan img{
		max-width: 200px;
		padding: 60px 0 0 40px;
	}
	.first-menu ul.access li a{
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-size: 12px;
	}
	.first-menu ul.access li.divider{
		padding: 0 10px;
	}
	.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
	}
	.form-search input{
		min-width: 120px;
		max-width: 250px;
	}
	.first-menu .menu-icons{
	margin-top: 20px;
	}
	.first-menu ul.buttons li a{
	padding: 11px 8px 26px 26px;
	}
	.first-menu ul.buttons li.star a{
		color: rgba(0,0,0,1);
		background: url('../img/star.png') center no-repeat;
		background-size: 30px 28px;
		font-weight: 600;
	}
	.first-menu ul.buttons li.cart a{
		color: rgba(0,0,0,1);
		background: url('../img/cart.png') center no-repeat;
		background-size: 30px 28px;
		font-weight: 600;
	}
}
@media(min-width:768px){
	.nav-7-luas .nav > li > a{
		padding: 10px 8px;
	}
	.nav-7-luas .nav-cat:first-child{
		margin-left: 10px;
	}
	.first-menu .brand img{
		max-width: 140px;
	}
	.first-menu .slogan img{
		max-width: 330px;
		padding: 60px 0 0 40px;
	}
	.first-menu ul.access li a{
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-size: 12px;
	}
	.first-menu ul.access li.divider{
		padding: 0 10px;
	}
	.form-search input{
		border: 0;
		min-width: 170px;
		max-width: 170px;
	}
	.first-menu .menu-icons{
	margin-top: 20px;
	}
	.first-menu ul.buttons li a{
	padding: 4px 8px 27px 37px;
	}
	.first-menu ul.buttons li.star a{
		color: rgba(0,0,0,1);
		background: url('../img/star.png') center no-repeat;
		background-size: 46px 43px;
		font-weight: 600;
	}
	.first-menu ul.buttons li.cart a{
		color: rgba(0,0,0,1);
		background: url('../img/cart.png') center no-repeat;
		background-size: 48px 45px;
		font-weight: 600;
	}
}
@media(min-width:992px){
	.nav-7-luas .nav-cat:first-child{
		margin-left: 35px;
	}
	.first-menu .brand img{
		max-width: 180px;
	}
	.first-menu .slogan img{
		max-width: 510px;
		padding: 60px 0 0 40px;
	}
	.first-menu ul.access li a{
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-size: 14px;
	}
	.first-menu ul.access li.divider{
		padding: 0 10px;
	}
	.form-search input{
		border: 0;
		min-width: 260px;
		max-width: 260px;
	}
	.first-menu .menu-icons{
	margin-top: 60px;
	}
	.first-menu ul.buttons li a{
	padding: 4px 8px 27px 37px;
	}
	.first-menu ul.buttons li.star a{
		color: rgba(0,0,0,1);
		background: url('../img/star.png') center no-repeat;
		background-size: 46px 43px;
		font-weight: 600;
	}
	.first-menu ul.buttons li.cart a{
		color: rgba(0,0,0,1);
		background: url('../img/cart.png') center no-repeat;
		background-size: 48px 45px;
		font-weight: 600;
	}
}

.order-done .table-responsive .table, .order-done .h2-header{
	max-width: 800px;
	margin: 0 auto;
}
.order-done .table-responsive .table > tbody > tr > th, .order-done .table-responsive .table > tbody > tr,
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border: 0;
}
.order-done .table-responsive .table{
	border: 2px solid #999;
}
.order-done a.back{
	max-width: 300px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 10px auto;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 50px;
}
.order-done img{
	max-width: 80px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
}
.order-done .title{
	font-weight: 500;
	font-size: 16px;
}
.order-done hr{
	border:1px solid #999;
}

.footer{
	color: rgba(255,255,255,1);
	background: url('../img/bg-footer.jpg') center;
	background-size: cover;
	padding: 40px 0 0 0;
}
.footer .logo img{
	max-width: 180px;
}
.footer .v-menu{
	padding-top: 40px;
}
.footer .v-menu ul li:first-child{
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
}
.footer .v-menu ul li, .footer .v-menu ul li a{
	color: rgba(255,255,255,1);
	list-style: none;
	font-size: 14px;
}
.footer .follow-us{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.footer .newsletter{
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 0 0 0;
}
.footer .newsletter form{
	background: transparent !important;
}
.footer  form{
	background: transparent !important;
}
.footer .newsletter form{
	padding: 10px 0;
}
.footer .newsletter .form-group{
	margin-bottom: 5px;
}
.footer .newsletter button{
	margin-bottom: 10px;
}
.footer .newsletter input{
	max-width: 230px;
}
.footer ul.social{
	list-style: none;
	margin:0;
	padding: 0;
}
.footer ul.social li{
	display: inline-block;
	padding: 0 5px;
}
.footer ul.social li:first-child{
	padding: 0 5px 0 0;
}
.footer ul.social li img{
	max-width: 36px;
}
.footer ul.social, .footer ul.social li{
	transition: 0.5s ease;
}
.footer ul.social:hover li {opacity: 0.5; transition: all 0.5s ease;}
.footer ul.social li:hover{opacity: 1; transition: all 0.5s ease;}

.footer .payments{
	padding: 40px 0 20px 0;
	font-size: 14px;
}

.footer-2{
	background: rgba(0,0,0,0.3);
	margin-top: 20px;
	padding: 20px 0;
}


