.prod-more{
	margin-top: 30px;
}
.prod-more h2{
	font-weight: 700;
	font-size: 24px;
	padding: 10px 0;
	margin:10px 0;
	text-transform: uppercase;
}
.prod-more hr{
	border:1px solid rgba(0,0,0,0.4);
	margin: 10px 0;
}
.prod-more .row div{
	padding: 10px 15px;
}
.prod-more img{
	border-radius: 20px;
}
.prod-more a h3,
.prod-more a h4,
.prod-more h5{
	color: rgba(0,0,0,1);
	margin: 0;
	padding: 0;
}
.prod-more a h3{
	margin-top: 10px;
	font-size: 16px;
}
.prod-more a h4{
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
}
.prod-more h5{
	font-size: 12px;
}
#product-detail{
  width: 100%;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}
.breadcrumb{
	padding: 30px 0 10px 0;
	 background: none;
}
.breadcrumb, .breadcrumb a{
	color: rgba(0,0,0,0.6);
}

.prod-description hr{
	border-color: rgba(0,0,0,0.4);
}
.prod-description ul.social{
	list-style: none;
	margin: 0;
	padding: 10px 0 0 0;
}
.prod-description ul.social li{
	display: inline-block;
}

.prod-description ul.social, .prod-description ul.social li{
	transition: 0.5s ease;
}
.prod-description ul.social:hover li {opacity: 0.5; transition: all 0.5s ease;}
.prod-description ul.social li:hover{opacity: 1; transition: all 0.5s ease;}

.prod-description ul li img{
	max-width: 35px;
}
.prod-description a.buy{
	border: 2px solid #8c8c8c;
	background: #0d375a;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	padding: 10px 100px;
	transition:all 0.5s ease;
}
.prod-description a.buy:hover{
	background: #27ae60;
	border: 2px solid #27ae60;
	text-decoration: none;
	transition:all 0.5s ease;
}

.prod-description a.star{
	border: 2px solid #8c8c8c;
	background: transparent;
	color: #8c8c8c;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 5px 32px;
	transition:all 0.5s ease;
}
.prod-description a.star:hover{
	border: 2px solid #452a3d;
	background: #452a3d;
	color: #FFF;
	text-decoration: none;
	transition:all 0.5s ease;
}
hr.space{
	padding: 30px 0;
	border: 0;
}

ul.colors{
	margin: 0;
	padding: 10px 0 20px 0;
}
ul.colors li{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 0;
	opacity: 1;
	transition:all 0.5s ease;
}
ul.colors li:hover{
	cursor: pointer;
}
ul.colors li img{
	max-width: 20px;
}
/* colors */
.divided-circle {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #000;
}
.divided-circle:before, .divided-circle:after {
  content: '';
  width: 8px;
  height: 16px;
}
.divided-circle:before {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
}
.divided-circle:after {
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #000;
}
/* - verde --*/
.green-b:before{
	background: #56b771;
}
.green-a:after{
	background: #56b771;
}
/* - amarelo --*/
.yellow-b:before{
	background: #f7ec16;
}
.yellow-a:after{
	background: #f7ec16;
}
/* - preto --*/
.black-b:before{
	background: #000000;
}
.black-a:after{
	background: #000000;
}
/* - branco --*/
.white-b:before{
	background: #FFFFFF;
}
.white-a:after{
	background: #FFFFFF;
}
/* - azul claro --*/
.light-blue-b:before{
	background: #99bbdc; 
}
.light-blue-a:after{
	background: #99bbdc; 
}
/* - vermelho --*/
.red-b:before{
	background: #ed2124;
}
.red-a:after{
	background: #ed2124;
}
/* - marrom --*/
.brown-b:before{
	background: #4b2d17;
}
.brown-a:after{
	background: #4b2d17;
}
/* - azul escuro --*/
.dark-blue-b:before{
	background: #292663;
}
.dark-blue-a:after{
	background: #292663;
}
/* - rosa --*/
.pink-b:before{
	background: #eb66a6;
}
.pink-a:after{
	background: #eb66a6;
}
/* - roxo claro --*/
.light-purble-b:before{
	background: #a660a6;
}
.light-purble-a:after{
	background: #a660a6;
}
/* - roxo escuro --*/
.dark-purple-b:before{
	background: #7552a0;
}
.dark-purple-a:after{
	background: #7552a0;
}

