.prod-list{
	margin-top: 30px;
}
.prod-list h2{
	font-weight: 700;
	font-size: 24px;
}
.prod-list h3{
	padding: 0;
	margin:0;
}
.prod-list hr{
	border:1px solid rgba(0,0,0,0.4);
	margin: 10px 0;
}
.prod-list .row div{
	padding: 10px 15px;
}
.prod-list img{
	border-radius: 20px;
}
.prod-list a h3,
.prod-list a h4,
.prod-list h5{
	color: rgba(0,0,0,1);
	margin: 0;
	padding: 0;
}
.prod-list a h3{
	margin-top: 0px;
	font-size: 16px;
}
.prod-list a h4{
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
}
.prod-list h5{
	font-size: 12px;
}
#product-detail{
  width: 100%;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}
.breadcrumb{
	padding: 30px 0 0px 0 !important;
	 background: none;
}
.breadcrumb, .breadcrumb a{
	color: rgba(0,0,0,0.6);
}

.prod-description hr{
	border-color: rgba(0,0,0,0.4);
}
.prod-description ul{
	list-style: none;
	margin: 0;
	padding: 10px 0 0 0;
}
.prod-description ul li{
	display: inline-block;
}

.prod-description ul, .prod-description ul li{
	transition: 0.5s ease;
}
.prod-description ul:hover li {opacity: 0.5; transition: all 0.5s ease;}
.prod-description ul li:hover{opacity: 1; transition: all 0.5s ease;}

.prod-description ul li img{
	max-width: 35px;
}
.prod-description a.buy{
	border: 2px solid #8c8c8c;
	background: #0d375a;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	padding: 10px 100px;
	transition:all 0.5s ease;
}
.prod-description a.buy:hover{
	background: #27ae60;
	border: 2px solid #27ae60;
	text-decoration: none;
	transition:all 0.5s ease;
}

.prod-description a.star{
	border: 2px solid #8c8c8c;
	background: transparent;
	color: #8c8c8c;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 5px 32px;
	transition:all 0.5s ease;
}
.prod-description a.star:hover{
	border: 2px solid #452a3d;
	background: #452a3d;
	color: #FFF;
	text-decoration: none;
	transition:all 0.5s ease;
}
.prod-list ul.sub{
	list-style: none;
	margin: 0;
	padding: 15px 0 0 15px;
}
ul.sub li.cat{
	font-size: 15px;
	font-weight: 600;
}
ul.sub li.sub{
	padding-left: 10px;
}
.prod-list ul.sub li a{
	color: rgba(0,0,0,1);
}
hr.space{
	padding: 30px 0;
	border: 0;
}
.pagination > li.arrow a{
	padding: 1px 2px;
}
.prod-list ul.pagination img{
	max-width: 30px;
}
.pagination > li > a, .pagination > li > span{
	border: 0;
}
.pagination > li > a, .pagination > li > span{
	color: #000;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	font-weight: 900;
	background: transparent;
	color: #000;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	border-radius: 100px;
}
body > div.container.prod-list > div.col-md-9 > div > div > a:nth-child(1) h3{
	display: block;
	min-height: 35px;
}


