.sign-up{
	padding: 20px 0;
}
.sign-up .form-type{
	padding: 20px 0;
}
.sign-up .forms .f1, .sign-up .forms .f2{
	padding: 0 25px;
}
.sign-up .forms .f2{
	padding: 60px 25px 0 25px;
	border-left: 2px solid #CCC;
}
.sign-up h1{
	font-size: 26px;
}
.sign-up h2{
	font-size: 26px;
}
.sign-up hr{
	border:1px solid rgba(0,0,0,0.3);
	margin: 5px 0 10px 0;
}
.sign-up .hd p{
	margin: 20px 0 0 0;
	text-align: right;
}
hr.space{
	padding: 30px 0;
	border: 0;
}
.sign-up .greybox{
	background: #e6e6e6;
	padding:25px;
}
.sign-up .form-pj{
	display: none;
}
.sign-up > div.row.forms > div.col-md-6.f2 > div:nth-child(4) > div > div > label{
	font-size: 13px;
}
.sign-up > div.row.forms > div.col-md-6.f2 > div:nth-child(4) > div > div > label a{
	color: #000000;
}

.sign-up button{
	width: 200px;
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 22px;
	text-transform: uppercase;
	background: #0d375a;
	color: #FFF;
	border:2px solid #CCC;
	padding: 7px 30px;
}
.sign-up button:hover,
.sign-up button:active:focus{
	background: #0d375a;
	color: #FFF;
}