#wrap{
  display: none;
  overflow: hidden;
  /*margin-left: 42px;*/
}
/*
#wrap p {
  margin-bottom: 0;
}			
#status_bar{
  display: block;
  width: 400px;
  height: 30px;
  border: 1px solid #535353;
  padding: 1px;
}

#percent{
  display: block;
  background-color: #ed008c;
  height: 100%;
  width: 0%;
}
#success{
  border: 1px solid #535353;
  color: #333333;
  font-size: 20px;
  margin: 140px auto 0;
  padding: 10px;
  text-align: center;
  width: 480px;
  height: 130px;
}
*/