body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: none repeat scroll 0 0 #e6e5e6;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

form label {
  color: #969696;
  font: bold 14px Helvetica,Arial,sans-serif;  
}

form ul {
  margin-top: 20px;
}

.bg_branco {
  background: none repeat scroll 0 0 #fff;
}

.logo img {
  margin: 5px 0px 10px 0px;
}

.login {
  margin: 40px 0 0;
}

.login span {
  font: bold 14px Helvetica,serif;
  color: #828282;
  float: right;
  margin: 0;
}

.login span a {
  font: bold 14px Helvetica,serif;
  color: #828282;
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.menu li {
  border-bottom: 1px solid #575555;
  padding: 5px 0 0;
  display: inline;
  margin-right: 40px;
  
}

.menu li a {
  color: #5c5c5c;
  font: bold 16px Helvetica,Arial,sans-serif;
}

.aba h2 {
  border-bottom: 1px solid #575555;
  color: #5c5c5c;
  font: bold 16px Helvetica,Arial,sans-serif;
  margin: 8px 0 20px;
}

.menu li .selecionado {
  color: #2266a9;
}

.menu li a:hover {
  color: #2266a9;
}

.campo_texto {
  color: #969696;
  font: bold 16px Helvetica,Arial,sans-serif;
  height: 25px;
  margin: 0 15px 15px 0;
  width: 350px;
}

._30px {
  width: 30px;
}

._45px {
  width: 45px;
}

._150px {
  width: 150px;
}

._200px {
  width: 200px;
}

.label_obrigatorio {
  color: #ed008c;
}

#termo_uso {
  /*width: 563px;*/
  height: 300px;
  overflow: auto;
  border: 1px solid #848383;
}

.minha_arte {
  float: left;
  margin-left: 10px;
}

table, th, td #minhas_vendas {
  padding: 15px;
  /*border: 1px solid;*/
}

th, td, caption {
  text-align: center;
  padding: 15px;
}

.menu div a {
  color: #5c5c5c;
  font: bold 16px helvetica;
}

.menu div a.selecionado {
  color: #2266a9;
}

.menu {
  margin-bottom: 20px;
}